/*
!httpie
!http-prompt
!k9s
!youtube-dl
!tuir
!pgcli
!fman
!procs
!alacritty
!bat
!atuin
!amfora
!awesome
!bottom
!broot
!bspwm
!calcurse
!castero
!conky
!deadbeef
!dmscripts
!dunst
!eww
!fish
!fm
!helix
!micro
!felix
!htop
!kitty
!moc
!mpd
!mu4e
!ncmpcpp
!neofetch
!nnn
!pcmanfm
!nvim
!picom
!polybar
!qtile
!qutebrowser
!ranger
!rofi
!surf
!sxhkd
!lapce
!sxiv
!tabliss
!joshuto
!tint2
!vifm
!volumeicon
!wfuzz
!xmobar
!xmonad
!.gitignore
!navi
!zellij
!starship.toml
